doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/codebase/webix.min.css')
    script(src='codebase/webix.min.js')
    block extra_header
  body
    block content
